<html>
<head>
    {% load static %}


		<!-- MATERIAL DESIGN ICONIC FONT -->


	    <link href="{% static 'persona/fonts/material-design-iconic-font/css/material-design-iconic-font.css' %}" rel="stylesheet">

		<!-- STYLE CSS -->
       <!-- <link rel="stylesheet" href="css/style.css"> -->
     <link href="{% static 'persona/css/style.css' %}" rel="stylesheet">


	 

	 


	



</head>
<body>



<div>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	
	
	<script>
		// This code activates flatpickr on fields with the 'datetimefield' class when the document has loaded
		window.addEventListener("DOMContentLoaded", function () {
			flatpickr(".datetimefield", {
				enableTime: true,
				enableSeconds: true,
				dateFormat: "d-m-Y H:i:S",
			});
		});
	</script>



		{% if messages %}  <!-- si hay algun tipo de mensajes a la hora de validar este formulario, me tienes que recorrer con un for!-->
     <ul style="background:green; text-align:center; color:white;">
		 {% for mensaje in messages %} <!--  recorro con un for los mensajes de error, advertencia etc!-->
		 <li {% if mensaje.tags %} {{mensaje.tags}} {% endif %}>{{mensaje}}</li>
     {% endfor %}
	 </ul>
	{% endif %}

	

<form method ="post"  enctype="multipart/form-data">
	{% csrf_token %}







    <h2 style="margin-left:400px;">REGISTRARSE</h2><br>
	<table>

		{{form}}
		

		

		


	</table>
	<p style="color:red;">* campos obligatorios</p1>
	


<button type="submit" style="width:200px; margin-left: 400px; margin-top:50px; background:green; cursor:pointer;">Guardar</button><br>
</form>
</div>
 <!-- esto es lo del selector de calendario-->

 

<div>
	


<table class="table table-bordered" style ="color: black;">
	<head>

		<tr >  <!-- tr es la correspondiente  fila !-->


      <th colspan="3" class="text-center"> <!-- th es la correspondiente  columna, colspan es para que tenga 3 columnas !-->

        Carro compras



      </th>


</tr>



	</head>

<br>

<tbody>

<tr>

	<th>

             <a href=""><h3 style="background: red;">body0</h3></a>





	</th>
	<th>
		<h3 style="background: red;">body2</h3>
	</th>

	<th>
		<h3 style="background: red;">body3</h3>
	</th>






</tr>
<tr>
<th>
	<h3 style="background: red;">body4</h3>
</th>

	<th>
	<h3 style="background: red;">body5</h3>
</th>

	<th>
	<h3 style="background: red;">body6</h3>
</th>
</tr>


</tbody>





</table>

</div>
        
		<!-- JQUERY -->
		<script src="{% static 'persona/js/jquery-3.3.1.min.js '%}"></script>

		<!-- JQUERY STEP -->
		<script src="{% static 'persona/js/jquery.steps.js '%}"></script>
		<script src="{% static 'persona/js/main.js ' %}"> </script>
		<!-- Template created and distributed by Colorlib -->



	


</body>


</html>